<a href="https://colab.research.google.com/github/shaikchnadbhasha/SQL-project/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("practice").getOrCreate()

In [ ]:
from  pyspark.sql import Row
data = [Row(name="Basha", age=90), Row(name="Ayushh", age=19), Row(name="Rafii", age=23)]
df = spark.createDataFrame(data)

In [ ]:
df.select("name")

DataFrame[name: string]

In [ ]:
df.filter(df.age > 20)

DataFrame[name: string, age: bigint]

In [ ]:
from pyspark.sql.functions import col
df.withColumn("age_plus_10",col("age")+10).show()

+------+---+-----------+
|  name|age|age_plus_10|
+------+---+-----------+
| Basha| 90|        100|
|Ayushh| 19|         29|
| Rafii| 23|         33|
+------+---+-----------+

In [ ]:
from pyspark.sql.functions import col
df.filter(col("name")=="alice").show()

+----+---+
|name|age|
+----+---+
+----+---+

In [ ]:
df.groupBy("age").count().show()

+---+-----+
|age|count|
+---+-----+
| 90|    1|
| 19|    1|
| 23|    1|
+---+-----+

In [ ]:
df.orderBy(df.age.desc()).show()

+------+---+
|  name|age|
+------+---+
| Basha| 90|
| Rafii| 23|
|Ayushh| 19|
+------+---+

In [ ]:
df.orderBy(df.age.asc()).show()

+------+---+
|  name|age|
+------+---+
|Ayushh| 19|
| Rafii| 23|
| Basha| 90|
+------+---+

In [ ]:
df.withColumnRenamed("name", "names").show()

+------+---+
| names|age|
+------+---+
| Basha| 90|
|Ayushh| 19|
| Rafii| 23|
+------+---+

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
schema = StructType([StructField("names", StringType(), True), StructField("age", IntegerType(), True)])
data = [("David", 22), ("eva", 29)]
df2 = spark.createDataFrame(data, schema)
df2.show()

+-----+---+
|names|age|
+-----+---+
|David| 22|
|  eva| 29|
+-----+---+

In [ ]:
from pyspark.sql.functions import when, col
df.withColumn("age_group",when(df.age<30,"young").otherwise("old")).show()

+------+---+---------+
|  name|age|age_group|
+------+---+---------+
| Basha| 90|      old|
|Ayushh| 19|    young|
| Rafii| 23|    young|
+------+---+---------+

In [ ]:
dfwithdupes=df.union(df).show()

+------+---+
|  name|age|
+------+---+
| Basha| 90|
|Ayushh| 19|
| Rafii| 23|
| Basha| 90|
|Ayushh| 19|
| Rafii| 23|
+------+---+

In [ ]:
dfwithdupes=df.union(df)
dfwithdupes.dropDuplicates().show()

+------+---+
|  name|age|
+------+---+
| Basha| 90|
|Ayushh| 19|
| Rafii| 23|
+------+---+

In [ ]:
df.describe().show()

+-------+------+-----------------+
|summary|  name|              age|
+-------+------+-----------------+
|  count|     3|                3|
|   mean|  NULL|             44.0|
| stddev|  NULL|39.88734135035826|
|    min|Ayushh|               19|
|    max| Rafii|               90|
+-------+------+-----------------+

In [ ]:
from pyspark.sql.functions import expr
df.withColumn("double_age",expr("age*2")).show()

+------+---+----------+
|  name|age|double_age|
+------+---+----------+
| Basha| 90|       180|
|Ayushh| 19|        38|
| Rafii| 23|        46|
+------+---+----------+

In [ ]:
from pyspark.sql.functions import isnull, col
df.select([isnull(c).alias(c) for c in df.columns]).show()

+-----+-----+
| name|  age|
+-----+-----+
|false|false|
|false|false|
|false|false|
+-----+-----+

In [ ]:
df_with_null=spark.createDataFrame([("Tom",28),(None,33)],["Name","Age"])
df_with_null.filter(df_with_null.Name.isNotNull()).show()

+----+---+
|Name|Age|
+----+---+
| Tom| 28|
+----+---+